@mixin dm-8-400() {
  font-size: em(8);
  font-weight: 400;
  line-height: em(10, 8);
  text-transform: uppercase;
}

@mixin dm-12-400() {
  font-size: em(12);
  font-weight: 400;
  line-height: em(20, 14);
}

@mixin dm-14-400() {
  font-size: em(14);
  font-weight: 400;
  line-height: em(20, 14);
}

@mixin dm-36-500() {
  font-size: em(36);
  font-weight: 500;
  line-height: em(43, 36);
  letter-spacing: em(0.02);
}
