// # font
$font-size-default: 16;

$ff-DM-Mono: 'DM Mono';
$ff-DM-Mono-Monospace: $ff-DM-Mono, monospace;

// # colors

$main: #18181B;
$white: #ffffff;
$text-primary: #ffffff;
$text-sub-text: #494949;
$dark-gray: #27272A;
$dark-gray2: #575757;
$table-gray: #404047;
$light-gray: #B6B6B6;

$accent: #00FF47;


// # paths
$fonts-path: '/fonts';
$images-path: '/images';

// # timing
$time-faster: 100ms;
$time-fast: 200ms;
$time-normal: 300ms;
$time-slow: 400ms;
$time-slower: 500ms;

// # container
$container-max-width: 1374;
